*,::after,::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
    --bg-color: #d7dce6;
    --text-color: #000000;
    --main-color: #4d6370;
    --second-color: #d8e0e8;

    --big-font: 6.6rem;
    --p-font: 1rem;

}
body{
background-color: var(--bg-color);
color: var(--text-color) ;
width: 100% ;
max-width: 100%;
}
.content-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
}
#right{flex: 1; 

}
#middle{ flex: 2;

}
#left{flex: 1;

}
.Profile{
    background-color: white;
    padding: 10px;
    margin: 10px;
}


#status-button , #main-button{
    background-color: var(--main-color);
    color: white;
    margin-top: 5px;
    transition:  all .6s ease;
}
 #main-button:hover{
    background-color: var(--bg-color) ;
    color: #000000;
}
#status-button:hover{
    background-color: var(--bg-color) ;
    color: #000000;
}

.My-profile , .right-side , .Status{
    margin: 10px;
    background-color: white;
    padding: 20px
}


#Interests{
    background-color: white;
}
.tags{
    color: white;
    background-color: var(--main-color);
    padding: 3px;
    margin-top: 3px ;
}
#mine-buttons{
    color: white;
    background-color: var(--main-color);
    padding: 5px 5px 5px 5px;
    transition:  all .6s ease;
}
#mine-buttons:hover{
     background-color: var(--bg-color) ;
    color: #000000;
}
.Status{
    margin: 10px;
}
#avatar-img{width:60% ;
    border-radius: 50%;

}
#forest-img{
    width:100% ;
}
.navigation-bar{
    background-color: var(--main-color);
    padding: 20px;
}
#footer{
    background-color: var(--main-color);
}
#John-pictures{
    width: 48%;
}
#pictures{
    display:flex;
    justify-content: space-between;
}
#accept{
   background-color: rgb(142, 209, 142);
   color: white;
   font-weight: bolder;
   padding: 5px;
   transition:  all .6s ease;
}
#accept:hover{
     background-color: var(--bg-color) ;
    color: #000000;
}
#reject{
    background-color: rgb(189, 75, 75);
    color: white;
    font-weight: bolder;
     padding: 5px;
     transition:  all .6s ease;
}
#reject:hover{
     background-color: var(--bg-color) ;
    color: #000000;
}
.fa{
    color: white;
    padding: 20px;
}