*,::after,::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
    --bg-color: #e5f8e8;
    --text-color: #000000;
    --main-color: #4d6370;
    --big-font: 6.6rem;
    --p-font: 1rem;

}
body{
background-color: var(--bg-color);
color: var(--text-color) ;
width: 100% ;
max-width: 100%;
}
.content-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    
}
#right{flex: 1; 

}
#middle{ flex: 2;

}
#left{flex: 1;

}
.Profile{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
#main-button{
    background-color: var(--main-color);
}
#status-button{
    background-color: var(--main-color);
    color: white;
}
.My-profile{
    margin: 10px;
}
.tags{
    background-color: ;
}
#Interests{
    background-color: white;
}
.tags{
    color: white;
    background-color: var(--main-color);
}
.Status{
    margin: 10px;
}
#avatar-img{width:60% ;

}
#forest-img{
    width:100% ;
}